{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header mb-5">
        <h5 class="card-category">Welcome</h5>
        <h3 class="card-title">Let's cook something ! </h3>
      </div>
      <div class="card-body">
        <div class="typography-line">
			<h3>Please use the "COOK IT" link in the navigation bar !</h3>
			<p>You'll find a small application that performs the 3 main steps in our project:</p>  		  
        </div>		
        <div class="typography-line">
          <div class="row">
            <div class="col-md-12">
              <ol>
                <li>Object Detection: find the ingredients in a fridge</li>
                <li>Data Science with NLP and NER: find a recipe with those ingredients, and pair a wine with it.</li>
				<li>Text Generation: generate a sommelier text that presents our wine.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
