{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="">
              
                <div class="card-header">
                  <h5 class="title">Register</h5>

                  <h6 class="card-category">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                        Registration is disabled
                    {% endif %} 
                  </h6>
                </div>

                <div class="card-body">
				<p> For more information contact the aicook team. </p>
                    
                </div>
                <div class="card-footer">
                  Have an account? <a href="{{ url_for('base_blueprint.login') }}" class="text-primary">Login</a>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
